.title-std-xp{
    text-align: center;
    color: #fff;    
    display: block;
    font-size: 2.5em;
    font-weight: bold;
}


.experience-wrap {
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 93.8vh;
    /* background-color: #343353; */
    background-size: cover;
    color: #fff;
}

.xpBlocks {
    width: 35vw;
    height: 900px;
    /* background-color: rgba(37, 36, 59, 0.6); */
    padding: 40px;
    border-radius: 30px;
    margin-right: 20px;
    box-shadow: 8px 10px 15px #171725;
}

.textServices img{
    width: 100px;
    height: 100px;
}

.fa-graduation-cap{
    color: #e25771;
}

.fa-briefcase{
    color: #52c8b9;
}


@media screen and (max-width: 800px) {

    .experience-wrap {
        flex-direction: column;
        height: 165vh;
        /* margin-top: 250px; */
    }

    .xpBlocks{

        width: 40vh;
        margin-top: 30px;
    }

    .xpBlocks:hover{
        transition: transform 330ms ease-in-out;
        transform: translate(0px, -10px);
    }

}